.message {
  display: flex;
  height: 50px;
  background-color: #eee;
  margin: 10px;
  padding: 15px;
  border-radius: 5px;
  width: 70%;
  align-items: center;
  /* justify-content: space-around; */
}

.message-wrapper {
  width: 700px;
  display: flex;
  flex-direction: column;
}

.message-wrapper > div {
  display: flex;
  height: 100%;
  justify-content: space-between;
}

.message .me {
  right: 0;
}

.avatar,
.message .avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin: 0 30px;
  background-color: #666;
}

.like {
  display: flex;
  width: 50px;
}

.like div {
  width: 30px;
  height: 30px;
  background: url('../../like.svg') no-repeat center;
}